extends layout

block content
  div.container
    div.jumbotron.text-center
      h1.display-4 Digby's War Room
      p
      h3= `Current Modpack: ${currentModpack}`
      h3= `Players ${playernum}/${maxPlayers}`
      h3= `Map: ${map}, Template: ${template}`
      span.float-right
        small v1.2